*
{
  box-sizing: border-box;
}

body
{
  font-family: "Open Sans", sans-serif;
  margin:0;
  background: url('bg.jpg') no-repeat;
  background-size: cover;
}

.navbar-brand
{
  font-size: 35px !important;
  text-transform: uppercase;
  padding-bottom: 20px;
}

main .container
{
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 540px;
  background: rgb(31 66 72 / 80%);
  border-radius: 10px;
  padding: 20px;
}

.btn-group button
{
  font-size: 20px;
  font-weight: 500;
  background: teal !important;
  border: 1px solid #62ccdd !important;
}

.btn-group .active
{
  background: dimgrey !important;
  border : 1px solid dimgrey !important;
  cursor: default !important;
}
.btn-group button:nth-of-type(odd) 
{
    border-right: 3px solid #62ccdd !important;
}
.btn-group button:nth-of-type(even) 
{
  margin-left: 0px;
}
.form-container
{
  display: none;
}
.frm-group .active
{
  display: block !important;
}

.form-container legend
{
  font-weight: 500
}

.form-group
{
  padding-left: 12px;
}
.form-group label
{
  font-weight: bold;
  font-size: 20px;
}

.btn-outline-dark
{
  border: 1px solid #62ccdd !important;
  color: #62ccdd !important;
  font-weight: 500 !important;
}

.btn-outline-dark:hover
{
  color:white !important;
  background: teal !important;
}